export interface {{bindingInterfaceName}} {
{{#hasInstance}}
    instance?: {{instanceTypeName}};
{{/hasInstance}}
{{#slots}}
    {{key}}?: {{instanceTypeName}};
{{/slots}}
{{#globals}}
    {{key}}?: {{instanceTypeName}};
{{/globals}}
}
